---
layout: default.ejs
---
<style>
	#landingpage {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	#landingpage .logo {
		margin-bottom: 1rem;
		width: 100%;
	}
	#landingpage h1 {
		color: var(--white);
		margin: 0;
		text-align: center;
	}
	#landingpage .year {
		color: var(--offwhite);
	}
	#landingpage .meta {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	#landingpage .meta li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: .5rem 0;
	}
	#landingpage .meta .icon {
		margin-right: .5rem;
	}
	#landingpage .cta {
		display: block;
		margin-top: 1rem;
	}
	#landingpage .text {
		display: grid;
		align-content: center;
	}
	@media (min-width: 720px) {
		#landingpage {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows:
		}
		#landingpage .logo {
			grid-row: 1 / -1;
		}
	}

	#sponsors {
		margin-top: 10px;
		border-top: 2px solid var(--white);
	}

	#sponsors .title {
		text-align: center;
	}

	#sponsors .sponsors-row {
		list-style-type: none;
		padding: 0px;
		margin: 0px;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	#sponsors .sponsor {
		max-width: 300px;
		margin: 10px;
	}

	#sponsors .sponsor img {
		object-fit: contain;
		width: 100%;
	}
</style>
<section id="landingpage">
	<img src="assets/logo.svg" class="logo">
	<div class="text">
		<h1 class="name">WebAssembly</h1>
		<h1 class="name2">Summit <span class="year"><%= meta.year %></span></h1>
		<ul class="meta">
			<li><span class="icon" style="--image: url(assets/date.svg)"></span><%= new Intl.DateTimeFormat('en-US', { hour12: true, year: "numeric", day: "numeric", hour: "2-digit", minute: "2-digit", month: "long", timeZoneName: "short", timeZone: "Europe/London" }).format(meta.start) %></li>
			<li><span class="icon" style="--image: url(assets/location.svg)"></span>Discord &amp; YouTube</li>
		</ul>
	</div>
</section>

<section id="sponsors">
	<h1 class="title">Sponsored by:</h1>
	<ul class="sponsors-row">
		<li class="sponsor">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/408px-Google_2015_logo.svg.png">
		</li>
		<li class="sponsor">
			<img src="assets/sponsors/Fastly-Wordmark-White.png">
		</li>
	</ul>
</section>

