---
layout: default.ejs
---
<section id="landingpage">
	<img src="assets/logo.svg" class="logo">
	<div class="test">
		<h1 class="name"><%= meta.site_name %></h1>
		<h2 class="year"><%= meta.year %></h2>
		<ul class="meta">
			<li> <span class="icon" style="--image: url(assets/date.svg)"></span> April-ish 2021</li>
			<li> <span class="icon" style="--image: url(assets/location.svg)"></span> Everywhere!</li>
		</ul>
	</div>
</section>
