---
layout: default.ejs
---
<style>
	#landingpage {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	#landingpage .logo {
		margin-bottom: 1rem;
		width: 100%;
	}
	#landingpage h1 {
		color: var(--white);
		margin: 0;
		text-align: center;
	}
	#landingpage h2 {
		color: var(--white);
		margin: 10;
		text-align: center;
	}
	#landingpage .year {
		color: var(--offwhite);
	}
	#landingpage .meta {
		display: grid;
		grid-template-columns: max-content max-content;
		justify-content: center;
		padding: 0;
		margin: 0;
		align-items: center;
		column-gap: 1rem;
		row-gap: 2rem;
	}
	#landingpage .meta li {
		display: contents;
	}
	#landingpage .cta {
		display: block;
		margin-top: 1rem;
		background-color: var(--dark-blue);
		font-weight: normal;
	}
	#landingpage .cta-important {
		background-color: var(--purple);
		font-weight: bold;
	}
	#landingpage .text {
		display: grid;
		align-content: center;
	}
	@media (min-width: 720px) {
		#landingpage {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows:
		}
		#landingpage .logo {
			grid-row: 1 / -1;
		}
	}
	#landingpage .datetable {
		display: grid;
		grid-template-columns: minmax(min-content, 1fr) 1fr;
		column-gap: 1rem;
		margin: 0;
		padding: 0;
	}
	#landingpage .datetable li {
		display: contents !important;
	}
	#landingpage .datetable span {
		font-weight: bold;
	}
</style>
<section id="landingpage">
	<img src="assets/logo.svg" class="logo">
	<div class="text">
		<h1 class="name">WebAssembly</h1>
		<h1 class="name2">Summit <span class="year"><%= meta.year %></span></h1>
		<ul class="meta">
	    <li><span class="icon" style="--image: url(assets/date.svg)"></span>
				<ul class="datetable">
					<li><span>Conference:</span> July 24th, 2023</li>
					<li><span>Hackday:</span> July 25th, 2023</li>
					<li><span>Community Group:</span> July 26th & 27th, 2023</li>
				</ul>
			</li>
      <li>
				<span class="icon" style="--image: url(assets/location.svg)"></span>
			<span><strong>Imperial College London, UK</strong><br>Discord &amp; YouTube</span></li>

    </ul>
		<p style="text-align: center">More information in our <a href="/faq">FAQs</a>.
		<a href="<%= meta.prospectus %>" class="cta cta-important">
			Become a sponsor!
		</a>
		<a href="<%= meta.discord %>" class="cta">
			 Join our Discord for Updates!
		</a>
	</div>
</section>
