---
layout: default.ejs
---
<style>
	#landingpage {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	#landingpage .logo {
		margin-bottom: 1rem;
		width: 100%;
	}
	#landingpage h1 {
		color: var(--white);
		margin: 0;
		text-align: center;
	}
	#landingpage h2 {
		color: var(--white);
		margin: 10;
		text-align: center;
	}
	#landingpage .year {
		color: var(--offwhite);
	}
	#landingpage .meta {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	#landingpage .meta li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: .5rem 0;
	}
	#landingpage .meta .icon {
		margin-right: .5rem;
	}
	#landingpage .cta {
		display: block;
		margin-top: 1rem;
	}
	#landingpage .text {
		display: grid;
		align-content: center;
	}
	@media (min-width: 720px) {
		#landingpage {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows:
		}
		#landingpage .logo {
			grid-row: 1 / -1;
		}
	}
</style>
<section id="landingpage">
	<img src="assets/logo.svg" class="logo">
	<div class="text">
		<h1 class="name">WebAssembly</h1>
		<h1 class="name2">Summit <span class="year"><%= meta.year %></span></h1>
		<h2>London, UK &mdash; Mid-2023!</h2>
		<p style="text-align: center">More information in our <a href="/faq">FAQs</a>.
		<a href="<%= meta.twitter %>" class="cta">
			Submit a talk!
		</a>
		<a href="<%= meta.discord %>" class="cta">
			 Join our Discord for Updates!
		</a>
	</div>
</section>
