---
layout: nothing.ejs
permalink: styles.css
---

:root {
  --blue: #3138c4;
  --dark-blue: #1b1c6f;
  --offwhite: #cbccee;
  --white: #fff;
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
  src: url("../assets/fonts/Roboto-Italic.ttf");
}

html {
  font-family: "Roboto";
  font-size: 16px;
  background: var(--dark-blue);
  color: var(--offwhite);
  height: 100%;
}
body {
  margin: 0;
  background: var(--blue);
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  background: var(--dark-blue);
  padding: 1rem;
  box-shadow: rgba(15, 2, 49, 0.35) 0px 5px 5px inset;
}

footer .social {
  width: 2rem;
}

footer .social img {
  width: 100%;
  filter: invert();
  opacity: 0.7;
}

.icon {
  display: inline-block;
  background: white;
  --size: 1.5em;
  width: var(--size);
  height: var(--size);
  mask-image: var(--image);
  -webkit-mask-image: var(--image);
  mask-size: contain;
  -webkit-mask-size: contain;
}

#landingpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#landingpage .meta {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#landingpage .icon {
  width: 1.5em;
}
